<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Analytics</title>
</head>
<body>
    <h1>Website Analytics</h1>
    <table>
        <thead>
        <tr>
            <th>Metric</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
            <tr>
               <td>Page Views</td>
               <td>100000</td>
            </tr>
            <tr>
                <td>Unique Visitor</td>
                <td>100000</td>
            </tr>
        </tbody>
    </table>
</body>
</html>