<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Website Analytics</title>
</head>
<body>
    <h1>Website Analytics</h1>

    <ul>
        <li>Account ID : <span th:text="${gaReport.accountId}">10000</span></li>
        <li>Profile ID : <span th:text="${gaReport.profileId}">10000</span></li>
        <li>Profile Name : <span th:text="${gaReport.profileName}">10000</span></li>
        <li>Tracking ID : <span th:text="${gaReport.trackingId}">10000</span></li>
        <li>View ID : <span th:text="${gaReport.viewId}">10000</span></li>
        <li>Table ID : <span th:text="${gaReport.tableId}">10000</span></li>
        <li>Start Date : <span th:text="${gaReport.startDate}">10000</span></li>
        <li>End Date : <span th:text="${gaReport.endDate}">10000</span></li>
        <li>Total Page Views : <span th:text="${gaReport.totalPageviews}">10000</span></li>
        <li>Total Visitors : <span th:text="${gaReport.totalVisitors}">10000</span></li>
    </ul>


    <table>
        <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Page Views</th>
            <th>Visitors</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${gaReport.rows}">
               <td th:text="${row.city}">100000</td>
               <td th:text="${row.country}">100000</td>
               <td th:text="${row.pageviews}">100000</td>
               <td th:text="${row.visitors}">100000</td>
            </tr>
        </tbody>
    </table>
</body>
</html>