<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil Google Analytics</title>
</head>
<body>
    <h1>Profil Google Analytics</h1>

    <form method="post">

        Pilih profil :
        <select name="profile">
            <option th:each="p : ${daftarProfil}"
                    th:value="${p.id}"
                    th:text="${p.name}">Pilih Profil</option>
        </select>
        <input type="submit" value="Lanjutkan">
    </form>

</body>
</html>